:root {
    --slide-transform: 0;
    --transition: transform 1s;
}

img {
    max-width: 100%;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
text-decoration: none;
}

/* /////////////////////////// HEADER //////////////////////////////// */

.primerSeccion {
    background-color: #e6bf65;
    width: auto;
}

.encabezado {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.encabezado h1 {
    color: #292216;
    font-size: 400%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    /* margin-left: 20%; */
}

.click {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 450;
}

.encabezado h2 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: auto;
    padding: 30px 30px 30px 30px;
}

.oferta {
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-size: 1.5rem;
}

.oferta div {
    display: inline-block;
    margin: 0 0.5rem;
    animation: heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  

.menu {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    display: inline;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-family: Roboto-Regular;
    color: #0b6aaa;
}

.menu li a {
    color: #0b6aaa;
}

.menuPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuprincipal {
    padding: 20px;
    text-align: center;
}

.menuprincipal li {
    display: inline;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    /* border: 2px solid #A9D3FF; */
}

.menuprincipal li a {
    color: #0b6aaa;
}

.menuprincipal :hover {
    border-radius: 5px;
    background-color: #deae3c ;
    /* background-image: linear-gradient(to left, white, #C4DCE9); */
}

body {
    margin: 0 auto;
    max-width: 1200px;
}

/* /// Estilos Carrito /// */

.cart__icon__cont {
    position: relative;
    margin-right: 10px;
}

.icon__svg {
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon__svg:hover {
    cursor: pointer;
}

#counter__products {
    font-size: 12px;
}

.count__products {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cont__cart__products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info__cart__product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.cart__product__title {
    font-size: 20px;
}

.cart__product__price {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cart__product__store {
    font-weight: 400;
    font-size: 20px;
}

.icon__close {
    width: 25px;
}

.icon__close:hover {
    stroke: red;
    cursor: pointer;
}

.total__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;

}

.total__cart h3 {
    font-size: 20px;
    font-weight: 600;
}

.total__pay {
    font-size: 20px;
    font-weight: 700;
}

.hidden__cart {
    display: none;
}

.cart__empty {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.hidden {
    display: none;
}

/* /// Estilos Carrusel /// */

.carrusel__sec {
    max-width: 1200px;
    min-width: 1200px;
    height: 600px;
    align-content: center;
    margin: auto;
    padding: 10px;
}

.slider__cont {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    overflow: hidden;
    box-shadow: 2px 2px 25px 5px black;
}

.slider {
    display: flex;
    transform: translateX( var(--slide-transform) );
    transition: var( --transition );
}

.slider__ele {
    width: 100%;
    height: 500px;
    line-height: 500px;
    min-width: 100%;
}

.slider__buttons {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
}

.button {
    width: 50px;
    height: 50px;
    background-color: none;
    transition: 0.2s all;
    opacity: 0.85;
    cursor: pointer;
}

.button:active {
    transform: scale(0.80);
}

/* ///////// Sistema de Cartas ///////// */

.cards__section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cards {
    border-radius: 10px;
}

.cards:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.cards:hover img {
    transform: scale(1.2);
    transition: all .5s;
}

.cards figure {
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info__card {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info__card h4 {
    font-size: 26px;
    font-weight: 600;
}

.item__price {
    font-size: 26px;
    font-weight: 700;
}

.info__card button {
    background: none;
    background-color: #292216;
    color:#9f8247;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.info__card button:active {
    transform: scale(0.92);
    transition: ease-in-out 1s linear 1s;
}

/* ////////////////////////////////////   FOOTER ///////////////////////////////// */

footer {
    height: auto;
    background-color: #e6bf65;
    font-family: Roboto-Regular;
    display: grid;
    grid-template-areas: "pagos redes"
                        "newslatter newslatter"
                        "derechos derechos";
}

.pagos {
    height: 130px;
    grid-area: pagos;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoss {
    padding: 20px;
}

.iconoss :hover {
    transform: scale(1.25);
}

.redes {
    height: 130px;
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos a {
    padding: 10px;
}

.iconos a :hover {
    transform: scale(1.25);
}

.newslatter {
    width: 100%;
    height: 100px;
    grid-area: newslatter;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .newslatter .news,
footer .newslatter .inputNews {
    background-color: #e5ba54;
    height: 50%;
    margin-right: 5px;
    border: 3px solid #9f8247;
    border-radius: 5px;
    padding: 10px;
}

footer .newslatter h5 {
    margin-right: 20px;
}

footer .news:hover {
    cursor: pointer;
}

footer .derechos {
    background-color: #EFE9EC;
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    grid-area: derechos;
}
/* ////////////////////////////// BOTON WPP //////////////////////////////////  */

.whatsapp {
    position: relative;
}

.boton {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;

}

/* /////////////////////////////   PROMOS  ///////////////////////////////////// */

.comprass {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #d19815;
    font-size: 150%;
    padding-left: 20px;
}

.promos {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}  

.promosBanco {
    width: 16%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
}

.promos img {
    margin-top: 20px;
}

.promos h4 {
    margin-top: 30px;
}

.promos .promo3 {
    width: 50px;
}
/* /////////// Sobre Nosotros /////////// */

#gradUs {
    height: 40px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(222, 178, 66));
  }

  .us__titles {
    margin-top: 20px;
    padding-left: 10px;
    align-items: center;
    width: 300px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    line-height: 35px;
  }

  .p__text {
    padding-left: 15px;
    margin: 10px;
  }

  .ul__us {
    margin-top: 10px;
    margin-left: 23px;
    padding-left: 20px;
  }

  .p__text-2 {
    margin-top: 10;
    padding: 10px 10px;
  }

/* /////////////////////////// CONTACTO //////////////////////////////// */

.contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__us {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e5ba54;
    margin: 10px auto;
    padding: 2px;
    border-radius: 7px;
    height: 60px;
    width: 250px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.inputContainer {
    width: 100%;
}

.btn {
    background-color: #e5ba54;
    margin: 2px;
}

.caja {
    background-color: #e5ba54;
}

.terminos {
    margin-top: 1%;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* /////////////////// ACORDEON /////////////////////////// */

.ol__faq {
    padding: 10px 30px;
}

.preguntas__promociones {
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acordeon{
    width: 80%;
    padding: 20px;
    background: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

summary{
    background: #e5ba54;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

summary:hover{
    background: #d19815;
}

.acordeon-info{
    padding: 10px;
    background: white;
    color: rgb(61, 61, 61);
}